<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientApp</key>
	<string>cp5_ios</string>
	<key>helpVideo</key>
	<string>http://www.youtube.com/watch?v=JnuDC5A-OgM</string>
	<key>website</key>
	<string>http://211pbtc.bowmansystems.com</string>
	<key>publicKey</key>
	<string>FC0EC22227C8C5182CE4B79F4D3766B6</string>
	<key>clientVersion</key>
	<string>2.2.0</string>
	<key>baseUrl</key>
	<string>http://xservices.bowmansystems.com/production.php</string>
	<key>irisSite</key>
	<true/>
</dict>
</plist>
