<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientApp</key>
	<string>cp5_ios 211bb</string>
	<key>helpVideo</key>
	<string>http://www.youtube.com/watch?v=JnuDC5A-OgM</string>
	<key>website</key>
	<string>http://www.211bigbend.org</string>
	<key>publicKey</key>
	<string>2D2590750EC73B6855EAC6D5F2631B23</string>
	<key>clientVersion</key>
	<string>2.0.2</string>
	<key>baseUrl</key>
	<string>http://xservices.bowmansystems.com/5.3.1/index.php</string>
	<key>irisSite</key>
	<true/>
</dict>
</plist>
